a.normal{color:#373a3c;}
a.normal:visited{color:#373a3c;}
a.normal:hover{color:#373a3c;}
.col-md-3>h2 {
	height: 100px;
}
.col-md-3 {
	height: 245px;
}
.col-md-4 {
	border-radius: 5px !important;
	box-shadow: 0 0 10px #808080; margin: 10px; padding: 1px 10px 1px; 
}
.col-md-4 h2 {
	font-weight: bold;
}
footer {
	color: gray;
	bottom: 0px;
	position: static;
	width: 100%;
	background-color: transparent;
}
.jumbotron {
	background-image: url('/maia.png');
	color: white;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
	margin-right: 10px;
}

body {
	background-color: #DDD !important;
}
label {
	color: #777!important;
}
.container>.row {
	background-color: white;
}
