a.normal{color:#373a3c;}
a.normal:visited{color:#373a3c;}
a.normal:hover{color:#373a3c;}
.col-md-3>h2 {
	height: 100px;
}
.col-md-3 {
	height: 245px;
}
.col-md-4 {
	border-radius: 5px !important;
}
.col-md-4 h2 {
	font-weight: bold;
}
footer {
	color: gray;
	bottom: 0px;
	position: static;
	width: 100%;
	background-color: transparent;
}
.jumbotron {
	background-image: url('/maia.png');
	color: white;
}
.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus  {
	background-color: #009688 !important;
}
